@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

@font-face {
  font-family: "Bebas Neue";
  src: local("Bebas Neue Regular"), local("BebasNeueRegular"),
    url("bebasneue/bebasneueregular.woff2") format("woff2"),
    url("bebasneue/bebasneueregular.woff") format("woff"),
    url("bebasneue/bebasneueregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "bebas-bold";
  src: local("Bebas Neue Bold"), local("BebasNeueBold"),
    url("bebasneue/bebasneuebold.woff2") format("woff2"),
    url("bebasneue/bebasneuebold.woff") format("woff"),
    url("bebasneue/bebasneuebold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

h1,
h2,
h3,
a {
  font-family: "bebas-bold";
}

p {
  font-family: "Open Sans", sans-serif;
}

body,
ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.header__top,
.header__menu {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.header__top,
.header__menu {
  justify-content: space-between;
}

.header__top {
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
}

.header__link {
  text-transform: uppercase;
}

.header__search {
  max-width: 440px;
  width: 100%;
  position: relative;
}

.header__search-img {
  position: absolute;
  right: 5px;
  top: 2px;
}

.header__search-input {
  width: 100%;
  height: 30px;
  border: 1px solid #e2e2e2;
  padding: 5px;
  color: #a09c9c;
  outline: none;
}

.header__cart {
  display: flex;
  align-items: center;
}

.header__cart-text {
  font-family: "bebas-bold";
  font-size: 30px;
  color: #a1a1a1;
  margin: 8px 0 0 15px;
}

.header__link {
  text-transform: uppercase;
  padding: 0 20px;
  border-right: 1px solid;
  text-align: center;
  font-size: 21px;
  color: white;
}

.header__item:first-child .header__link {
  padding-left: 0;
}

.header__item:last-child .header__link {
  padding-right: 0;
  border: none;
}

.header__nav {
  background: #4ccfc1;
  padding: 10px 0;
}

@media (max-width: 1030px) {
  .header__top,
  .header__menu {
    margin-left: 15px;
    margin-right: 15px;
  }
  .header__link {
    border: none;
    padding: 10px;
    display: block;
  }
  .header__item:first-child .header__link {
    padding-left: 10px;
  }

  .header__item:last-child .header__link {
    padding-right: 10px;
  }
}

@media (max-width: 740px) {
  .header__top {
    flex-direction: column;
  }

  .header__search {
    margin: 15px 0;
  }
}
